{% load i18n %}
{% load staticfiles %}
{% load reviews %}
{% load thumbnail %}
    
<div class="col-lg-3 col-sm-6 col-12 mb-5">
    <div class="h-100">
        <div class="d-flex flex-column">
            <div class="mb-auto">
                <h5 class="mt-3 mb-0">
                    <span class="card-title">{{event.title | truncatewords_html:10 }}</span>
                </h5>        
                <br>    
                <span class="text-pink6">
                    {{event.start_date | date:" d M"}}                 
                    {% if event.end_date %}até {{event.end_date | date:" d M, Y"}}{%endif%}
                </span> 
                <br>
                <i>{% if event.place %}{{event.place}} {%endif%}</i>
                
            </div>            
            <div class="mt-4">
                <a href="{{event.url}}" class="btn btn-pink6" target="_blank">Saiba mais</a>
            </div>
        </div><!-- End of card-body -->
    </div><!-- end of card -->
</div><!-- end of col -->