{% load i18n %}
{% block subject %}
{% trans "Change password " %} {{domain}}
{% endblock subject %}
{% block html_body  %}
{% autoescape off %}

Hello {{ user.name }}
You've asked to change your password.
To create a new password, just click on the above link:
{% block reset_link %}
{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
This is valid just for {{ PASSWORD_RESET_TIMEOUT_HOURS }} hours.

If you didn't ask for a new password, just ignore this message.
If you need further assistance, please reply to this email.

Thank you,
BSLISE Team

{% endautoescape %}
{% endblock html_body %}







