{% load i18n %}
{% block subject %}
Redefinição de Senha em {{domain}}
{% endblock subject %}
{% block html_body  %}
{% autoescape off %}

Olá, {{ user.name }}
Você solicitou uma recuperação de senha.
Para criar uma nova senha é simples, basta clicar no link abaixo:
{% block reset_link %}
{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
O link é válido para as próximas {{ PASSWORD_RESET_TIMEOUT_HOURS }} horas.

Caso você não tenha solicitado uma nova senha, simplesmente ignore esta mensagem.
Se precisar de ajuda, tiver dúvidas ou quiser fazer alguma sugestão, é só responder este e-mail.

Obrigada,
Equipe Civis

{% endautoescape %}
{% endblock html_body %}







