{% block html_body %}
  {% autoescape off %}
    <p>Hola, {{ user.name }}</p>
    <p>Hemos detectado varios intentos fallidos de iniciar sesión en su cuenta. Por motivos de seguridad, tu cuenta ha sido bloqueada temporalmente.</p>
    <p>Para desbloquear su cuenta y restablecer su contraseña, haga clic en el siguiente enlace:</p>
    <p><a href="{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}">{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}</a></p>
    <p>El enlace es válido durante {{ PASSWORD_RESET_TIMEOUT_HOURS }} horas.</p>
    <p>Si no ha intentado iniciar sesión o cree que se trata de un error, comuníquese con bslise@ibict.br</p>
    <p>Saludos,</p>
    <p>Equipo BSLISE</p>
  {% endautoescape %}
{% endblock html_body %}