{% block html_body  %}
{% autoescape off %}
  <p>Hola, {{ user.name }}</p>
  <p>Ha solicitado recuperar su contraseña. Para crear una nueva contraseña, haga clic en el siguiente enlace:</p>
  <p>
  {% block reset_link %}
  {{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
  {% endblock %}
  </p>
  <p>El enlace es válido durante las próximas {{ PASSWORD_RESET_TIMEOUT_HOURS }} horas.</p>
  <p>Si no ha solicitado una nueva contraseña, simplemente ignore este mensaje.</p>
  <p>Si desea ponerse en contacto con nosotros, escríbanos a civis@ibict.br.</p>
  <p>Este es un correo electrónico automático, NO responda.</p>
  <p>Gracias, <br>Equipo BSLISE</p>
{% endautoescape %}
{% endblock html_body %}







