{% load i18n %}
{% load staticfiles %}
<div class="container-fluid" id="div-sobre">
    <div class="container">
        <div class="row">
            <small class="text-green6 fw-600">{% trans "About" %}</small>

            <div class="">
                <span class="title-m title d-block mt-3">{% trans "What is BSLISE Directory?" %}</span>
                <p>{% trans "It is a directory of Schools and Programmes especialized in Library and Information Science built by BSLISE/IFLA workgroup" %}
                </p>
            </div>
            <div class="">
                <a href="/about" class="btn-arrow"><span class="me-1">{% trans "Read more" %}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" style="margin-top: -4px;">
                    <path d="M4.1665 10H15.8332M15.8332 10L9.99984 4.16667M15.8332 10L9.99984 15.8333" stroke="#022617" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
            </div>
        </div>
    </div>
</div>

