{% load i18n %}
{% load static %}
<!--Footer-->
<footer class="bg-green6 pt-5 pb-5 text-white">
  <div class="container">
    <div class="d-md-flex">
      <div class="me-5 ms-5">
        <small class="title fw-600 mb-3 d-block">{% trans "Social Media" %}</small>
      </div>
      <div class="me-5 ms-5">
        <small class="title fw-600 mb-3 d-block">{% trans "Contato" %}</small>
        <p class="fw-300">bslise@ibict.br<br></p>
      </div>
      <div class="me-5 ms-5 flex-grow-1 mb-5">
        <small class="title fw-600 mb-3 d-block">{% trans "Site map" %}</small>
        <a href="/terms" class="item-footer">{% trans "Terms of Use" %}</a>
        <a href="/privacy" class="item-footer">{% trans "Privacy" %}</a>
      </div>
      <div id="logos-footer">
        <small class="title fw-600 mb-3 d-block">{% trans "Developed by" %}</small>
        <div class="d-xl-flex">
          <div class="pe-3 pt-2 me-3" id="ibict">
            <a href="https://www.gov.br/ibict/pt-br" target="_blank">
              <img data-src="{% static 'site/img/logos/ibict-white.png' %}" width="150" alt="" class="lazyload">
            </a>
          </div>
          <div class="" id="mcti">
            <a href="https://www.gov.br/mcti/pt-br" target="_blank">
              <img data-src="{% static 'site/img/logos/mcti-white.svg' %}?2022" style=""
                alt="logo gov.br 2022" class="lazyload">
            </a>
          </div>
        </div>        
      </div>
    </div>
  </div>
</footer>
<!--/.Footer-->