{% load i18n %}
{% load staticfiles %}
<div class="modal fade" id="modalsubmit">
    <div class="modal-dialog mdialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="fw-300">{% trans "What do you want to submit?" %}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="menu-item mb-5">
                    <h4><a href="/newPlatform" class="link-menu-submit">{% trans "Programme" %}</a></h4>
                    <p class="fw-500">{% trans "Create a profile for your programme" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/new_organisation" class="link-menu-submit">{% trans "Organisation or Network" %}</a></h4>
                    <p class="fw-500">{% trans "Create a profile for your Organisation" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a  href="/newProject" class="link-menu-submit" class="colorred">{% trans "Project" %}</a></h4>
                    <p class="fw-500">{% trans "Create a Project profile" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/newResource" class="link-menu-submit" class="colorgreen">{% trans "Resource" %}</a></h4>
                    <p class="fw-500">{% trans "Create a profile for a Resource that is relevant for Information Science" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/newTrainingResource" class="link-menu-submit" class="colorlightblue">{% trans "Training" %}</a></h4>
                    <p class="fw-500">{% trans "Create a profile for Training and Education Material related to the practice of Information Science" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/new_event" class="link-menu-submit" class="colororange">{% trans "Event" %}</a></h4>
                    <p class="fw-500">{% trans "Create an Event" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
