{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ block.super }} :: {% trans "About" %}{% endblock %}

{% block list_of_items %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="mt-5 mb-5">
                {% trans "about" %} <span class="text-pink6">BSLise</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-12"></div>
        <div class="col-sm-8 col-11">
            <div class="row mb-5">
                <div class="col-12">
                    <p>{% trans "The Building Strong Library and Information Science Education (BSLISE) <a href="lisedu.wordpress.edu">Working Group</a>
                        of the International Federation of Library Associations and Institutions (IFLA), is an initiative of the IFLA Sections on Education and Training,
                        and Library Theory and Research, and the LIS Education in Developing Countries Special Interest Group." %}
                    </p>
                    <p>{% trans "The BSLISE Working Group is pursuing the development of an international quality assurance
                        framework that will guide and promote international educational standards in LIS.
                        Its work considers the sociopolitical and technological developments that are inclusive of
                        local and regional contexts."%}
                    </p> 
                    <p>{% trans "In its first phase of research, the group conducted an international survey to understand the qualification requirements
                        for library and information “professional” practice around the world, inclusive of regional and national contexts."%}
                    </p> 
                    <p>{% trans "
                        This Directory is a working progress and addresses a broad and plural audience, including:
                        "%}
                    </p> 
                    <ul>
                        <li>{% trans "researchers, scientists and teachers;"%}</li>
                        <li>{% trans "students who are looking for courses in areas related to information science in their region;"%}</li>
                        <li>{% trans "public and private managers interested in supporting and developing projects and initiatives of this nature."%}</li>
                        <!----
                        <li>pesquisadores, cientistas e professores interessados em desenvolver projetos e iniciativas de ciência
                            cidadã, bem como em conhecer e utilizar metodologias e resultados de iniciativas já existentes;
                        </li>
                        <li>
                            indivíduos, coletivos e organizações, com ou sem formação acadêmica, desejosos de participar, iniciar 
                            ou aprimorar ações com essa abordagem;
                        </li>
                        <li>gestores públicos e privados interessados em apoiar e desenvolver projetos e iniciativas dessa natureza.</li>
                        !---->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock list_of_items %}