{% block html_body  %}
  <p>Hello {{ user.name }},</p>
  <p>Your password has been successfully reset. To ensure the security of your account, we need you to reactivate your username before you can access our services again.</p>
  <p>Please click the link below to reactivate your account:</p>
  <p><a href="{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}?reactivate">{{ domain }}{% url 'accounts:activate' uidb64=uid token =token %}?reactivate</a></p>
  <p>If you did not request a password reset or believe this to be an error, please contact civis@ibict.br immediately.</p>
  <p>Greetings,</p>
  <p>Cívis Team</p>
{% endblock %}