{% block html_body %}
  {% autoescape off %}
    <p>Hello, {{ user.name }}</p>
    <p>We have detected several unsuccessful login attempts to your account. For security reasons, your account has been temporarily blocked.</p>
    <p>To unlock your account and reset your password, please click the link below:</p>
    <p><a href="{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}">{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}</a></p>
    <p>The link is valid for {{ PASSWORD_RESET_TIMEOUT_HOURS }} hours.</p>
    <p>If you have not attempted to log in or believe this is an error, please contact bslise@ibict.br.</p>
    <p>Greetings,</p>
    <p>BSLISE Team</p>
  {% endautoescape %}
{% endblock html_body %}