{% block html_body  %}
{% autoescape off %}
  <p>Hello, {{ user.name }}</p>
  <p>You have asked to recover your password. To create a new password, all you need to do is click on the link below:</p>
  <p>
    {% block reset_link %}
    {{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
    {% endblock %}
  </p>
  <p>The link is only valid for the next {{ PASSWORD_RESET_TIMEOUT_HOURS }} hours.</p>
  <p>Please ignore this message if you did not request a new password.</p>
  <p>If you wish to contact us, write to civis@ibict.br.</p>
  <p>This is an automatic email. Please DO NOT reply.</p>
  <p>Thank you,</p>
  <p>BSLISE Team</p>
{% endautoescape %}
{% endblock html_body %}