{% load i18n %}
{% block html_body %}
<!DOCTYPE html>
<html>
<body>
<p>
{% autoescape off %}
Hello {{ user.name }}
{% endautoescape %}
</p>
<div>
    <p>Welcome to BSLISE Directory! We are very happy that you join our project.</p>

    <p>
        Subscribing at BSLISE Directory, you will be able to register your organisation and schools
        that will be available at <a href="{{domain}}{% url 'profiles:show_self' %}">My Area</a>
    </p>

    <p>
        <b>Your profile is private but if you want to make it public, you can use the "Privacy options" on your profile form</b>
    </p>

    <p>To start, just click on "New submission" button at Home page menu</p>

    <p>The Directory success depends on community contribution. Share your initiative to your peers!</p>
    <br/>
    <p>If you need any assistance, please write to us at bslise@ibict.br
    <p>This is an automatic email, please do not respond</p>
    <br/>
    Sincerely, <br>
    BSLise Team
</div>
</body>
</html>
{% endblock html_body %}
