{% block html_body  %}
  {% autoescape off %}
    <p>Olá, {{ user.name }}</p>
    <p>Detectamos várias tentativas de login sem sucesso em sua conta. Por motivos de segurança, sua conta foi temporariamente bloqueada.</p>
    <p>Para desbloquear sua conta e redefinir sua senha, por favor clique no link abaixo:</p>
    <p><a href="{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}">{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}</a></p>
    <p>O link é válido por {{ PASSWORD_RESET_TIMEOUT_HOURS }} horas.</p>
    <p>Se você não tentou fazer login ou acredita que isso seja um erro, por favor, entre em contato com bslise@ibict.br</p>
    <p>Saudações,</p>
    <p>Equipe BSLISE</p>
  {% endautoescape %}
{% endblock html_body %}