{% load i18n %}

{% block html_body  %}
  <p>Olá, {{ username }}</p>
  <p>
    Agradecemos por registrar a organização <a href="{{ domain }}{% url 'organisation' pk=id %}">{{ submissionName }}</a>
    na plataforma Civis.
  </p>
  <p>A partir de agora, o perfil dela estará visível na plataforma.</p>
  <p>
    Você pode fazer atualizações ou alterações neste perfil de organização a qualquer momento,
    acessando a seção Minhas submissões na sua <a href="{{ domain }}{% url 'profiles:show_self' %}">Área Pessoal</a>
    (veja o canto superior direito do menu da plataforma).
  </p>
  <p>Se quiser entrar em contato conosco, escreva para civis@ibict.br.</p>
  <p>Este é um e-mail automático, NÃO responda.</p>
  <p>Obrigada,</p>
  <p>Equipe Civis</p>
{% endblock html_body %}
